# coding: utf-8

"""
    Fates List

                 Current API: v2 beta 3             Default API: v2             API URL: https://api.fateslist.xyz             API Docs: https://apidocs.fateslist.xyz             Enum Reference: https://apidocs.fateslist.xyz/structures/enums.autogen           # noqa: E501

    OpenAPI spec version: 0.4.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class APIV2CustomResourcesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_resources(self, body, target_type, target_id, **kwargs):  # noqa: E501
        """Add Resources  # noqa: E501

        Adds a resource to your bot/guild. If it already exists, this will delete and readd the resource so it can be used to edit already existing resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_resources(body, target_type, target_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BotResources body: (required)
        :param ReviewType target_type: (required)
        :param int target_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_resources_with_http_info(body, target_type, target_id, **kwargs)  # noqa: E501
        else:
            (data) = self.add_resources_with_http_info(body, target_type, target_id, **kwargs)  # noqa: E501
            return data

    def add_resources_with_http_info(self, body, target_type, target_id, **kwargs):  # noqa: E501
        """Add Resources  # noqa: E501

        Adds a resource to your bot/guild. If it already exists, this will delete and readd the resource so it can be used to edit already existing resources  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_resources_with_http_info(body, target_type, target_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BotResources body: (required)
        :param ReviewType target_type: (required)
        :param int target_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'target_type', 'target_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_resources`")  # noqa: E501
        # verify the required parameter 'target_type' is set
        if ('target_type' not in params or
                params['target_type'] is None):
            raise ValueError("Missing the required parameter `target_type` when calling `add_resources`")  # noqa: E501
        # verify the required parameter 'target_id' is set
        if ('target_id' not in params or
                params['target_id'] is None):
            raise ValueError("Missing the required parameter `target_id` when calling `add_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'target_id' in params:
            path_params['target_id'] = params['target_id']  # noqa: E501

        query_params = []
        if 'target_type' in params:
            query_params.append(('target_type', params['target_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bot', 'Server']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/resources/{target_id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_resources(self, body, target_type, target_id, **kwargs):  # noqa: E501
        """Delete Resources  # noqa: E501

        If ids/names is provided, all resources with said ids/names will be deleted (this can be used together).  If nuke is provided, then all resources will deleted. Ids/names and nuke cannot be used at the same time  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_resources(body, target_type, target_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BotResourceDelete body: (required)
        :param ReviewType target_type: (required)
        :param int target_id: (required)
        :return: APIResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_resources_with_http_info(body, target_type, target_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_resources_with_http_info(body, target_type, target_id, **kwargs)  # noqa: E501
            return data

    def delete_resources_with_http_info(self, body, target_type, target_id, **kwargs):  # noqa: E501
        """Delete Resources  # noqa: E501

        If ids/names is provided, all resources with said ids/names will be deleted (this can be used together).  If nuke is provided, then all resources will deleted. Ids/names and nuke cannot be used at the same time  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_resources_with_http_info(body, target_type, target_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BotResourceDelete body: (required)
        :param ReviewType target_type: (required)
        :param int target_id: (required)
        :return: APIResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'target_type', 'target_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `delete_resources`")  # noqa: E501
        # verify the required parameter 'target_type' is set
        if ('target_type' not in params or
                params['target_type'] is None):
            raise ValueError("Missing the required parameter `target_type` when calling `delete_resources`")  # noqa: E501
        # verify the required parameter 'target_id' is set
        if ('target_id' not in params or
                params['target_id'] is None):
            raise ValueError("Missing the required parameter `target_id` when calling `delete_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'target_id' in params:
            path_params['target_id'] = params['target_id']  # noqa: E501

        query_params = []
        if 'target_type' in params:
            query_params.append(('target_type', params['target_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bot', 'Server']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/resources/{target_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='APIResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_resources(self, target_id, target_type, **kwargs):  # noqa: E501
        """Get Resources  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_resources(target_id, target_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int target_id: (required)
        :param ReviewType target_type: (required)
        :param str filter:
        :param str lang:
        :return: list[object]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_resources_with_http_info(target_id, target_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_resources_with_http_info(target_id, target_type, **kwargs)  # noqa: E501
            return data

    def get_resources_with_http_info(self, target_id, target_type, **kwargs):  # noqa: E501
        """Get Resources  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_resources_with_http_info(target_id, target_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int target_id: (required)
        :param ReviewType target_type: (required)
        :param str filter:
        :param str lang:
        :return: list[object]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['target_id', 'target_type', 'filter', 'lang']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_resources" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'target_id' is set
        if ('target_id' not in params or
                params['target_id'] is None):
            raise ValueError("Missing the required parameter `target_id` when calling `get_resources`")  # noqa: E501
        # verify the required parameter 'target_type' is set
        if ('target_type' not in params or
                params['target_type'] is None):
            raise ValueError("Missing the required parameter `target_type` when calling `get_resources`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'target_id' in params:
            path_params['target_id'] = params['target_id']  # noqa: E501

        query_params = []
        if 'target_type' in params:
            query_params.append(('target_type', params['target_type']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'lang' in params:
            query_params.append(('lang', params['lang']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/resources/{target_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[object]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
